.button {
    text-align: right;
}

.nav-link {
    text-decoration: black;
    display: block;
    padding: .5rem 1rem;
}

a {
    display: block;
    font-size: small;
    padding: 8px;
}

.container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.container>div {
    position: relative;
    margin: 10px;
    padding: 20px;
    font-size: 5px;
    position: relative;
    font-family: arial;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 15;
}